*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --floral-white: #fffcf2ff;
    --timber-wolf: #ccc5b9ff;
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;

    font-family: Roboto, sans-serif;
    color: white;
}

body {
    background-color: var(--timber-wolf);
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--eerie-black);
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.branding {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    color: var(--floral-white);
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

.btn-underline {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 1.2rem;
    color: var(--floral-white);
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease, transform 0.2s ease;
}

.btn-underline::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.3rem;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%);
    transition: width 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.btn-underline:hover {
    color: var(--timber-wolf);
    transform: scale(1.1);
}

.btn-underline:hover::after {
    width: 100%;
    opacity: 1;
}

#content {
    flex: 1;
}

#content>div {
    height: 100%;
    padding: 1rem;
}

.home {
    background-color: lightslategray;
}

.menu {
    background-color: lightblue;
}

.about {
    background-color: lightcoral;
}