*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --floral-white: #fffcf2ff;
    --timber-wolf: #ccc5b9ff;
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;
    --eerie-black-translucent: rgba(37, 36, 34, 0.3);

    font-family: Roboto, sans-serif;
    color: var(--floral-white);
}

body {
    background-color: var(--timber-wolf);
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* General Styles */

.btn-underline {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 1.2rem;
    color: var(--floral-white);
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease, transform 0.2s ease;
}

.btn-underline::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.3rem;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%);
    transition: width 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.btn-underline:hover {
    color: var(--timber-wolf);
    transform: scale(1.1);
}

.btn-underline:hover::after {
    width: 100%;
    opacity: 1;
}

.glass-effect {
    background: var(--eerie-black-translucent);
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(37, 36, 34, 0.3);
}

.home-bg,
.about-bg,
.menu-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-bg {
    background-image: url("./images/home-bg.jpg");
}

.about-bg {
    background-image: url("./images/about-bg.jpg");
}

.menu-bg {
    background-image: url("./images/menu-bg.jpg");
}

/* Content Styles */

nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.branding {
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

#content {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.home {
    flex: 0 1 50%;
    height: 50%;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.home-title {
    font-size: 2.5rem;
    font-style: italic;
}

.home-text {
    margin-top: auto;
    font-size: 1.4rem;
    font-weight: 500;
}

.home-btn {
    margin-top: auto;
    align-self: flex-start;
    border: 1px solid var(--floral-white);
}

.menu {
    background-color: transparent;
}

.about {
    background-color: transparent;
}